/* Login.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--primary-color-light);
}

.login-box {
    background-color: var(--white-color);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

    .login-box h2 {
        margin-bottom: 1rem;
    }

    .login-box input {
        width: 100%;
        padding: 0.75rem;
        margin-bottom: 1rem;
        border: 1px solid var(--primary-color);
        border-radius: 5px;
    }

    .login-box button {
        width: 100%;
        padding: 0.75rem;
        background-color: var(--primary-color);
        color: var(--white-color);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .login-box button:hover {
            background-color: var(--primary-color-light);
        }
