/* frontend/my-app/src/pages/Register.css */

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 50px auto;
}

.register-title {
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.register-form {
    width: 100%;
}

    .register-form label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
        color: var(--primary-color);
    }

    .register-form input,
    .register-form select {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1rem;
    }

    .register-form button {
        width: 100%;
        padding: 10px;
        background-color: var(--primary-color);
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .register-form button:hover {
            background-color: var(--primary-color-dark);
        }
